
#title{
  text-align:center;
  font-weight: bold;
  padding-left:340px; //shift right 
}

.centerpic{
  display: inline-block; 
  margin: 0 auto;
  padding-left:805px;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
  margin-left: 10px;
}

.description{
  font-style: italic;
  text-align: center;
}

#main{
  padding: 10px 20px;
}

.underlined{
  text-decoration:underline;
}

.list{
  list-style-type:circle;
}

.nav-bar{
  float:right;
}

.extraPadding {
  padding-left:20px;
}




